.banSuggestion-title {
    color: #e7e8ec;
    text-align: center;
}
.mainTeamName {
    color: #ff5500;
}

.banSuggestion-main {
    flex-direction: column;
}

.banSuggestion-bans {
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.renderMap-root {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 600;
    align-content: center;
    align-self: center;
    width: 220px;
    height: 60px;
    padding: 10px 12px 10px 12px;
    border: solid 1px #23252f;
    border-left: 2px solid #ff5500;
    border-radius: 8px;
    background-color: #15171f;
    text-align: center;
}

.renderMap-root > img {
    height: 50px;
    align-self: center;
    margin-right: 15px;
}

.renderMap-text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}