.fvh-root .PlayerStatCard {
    display: flex;
    color: #e7e8ec;
    font-size: 12px;
    font-weight: 600;
    align-items: center;
    width: fit-content;
    height: 44px;
    padding: 6px 10px;
    margin-bottom: 12px;
    border: solid 1px #23252f;
    border-radius: 8px;
    gap: 12px;
    justify-content: space-around;
}

.fvh-root .PlayerStatCard .map {
    display: flex;
    flex-direction: column;
}

.fvh-root .PlayerStatCard .mapName {
    font-size: 12px;
}

.fvh-root .PlayerStatCard .rating {
    align-self: center;
    color: #bebebe;
    font-weight: 500;
    font-size: 11px;
}
